@import '../../styles/constants.scss';

.catalog-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-menu__item {
  display: flex;
  align-items: center;
  column-gap: $base * 4;

  input[type='radio'] {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.catalog-menu__item_active {
  position: absolute;
  z-index: -1;
}

.button-catalog-view:has(input[type='radio']:checked) {
  background: $color-hover;

  .button-catalog-view__logo {
    fill: $color-white;
  }
}
