@import '../.././../styles/constants.scss';

.button-sort {
  display: flex;
  align-items: center;
  padding: $base * 3 $base * 4;
  background-color: $color-white;
  border-radius: $base * 5;
  box-shadow: 0 0.125rem $base rgba(191, 196, 201, 0.2), 0 0.188rem $base rgba(191, 196, 201, 0.18),
    0 0.063rem $base rgba(191, 196, 201, 0.24);
  transition: all $transition-02;

  &:hover {
    box-shadow: 0 0.188rem $base rgba(222, 125, 11, 0.2), 0 0.063rem $base * 3 rgba(249, 89, 8, 0.2);
  }

  &:active {
    .button-sort__logo {
      fill: $color-orange;
    }

    .body_small {
      color: $color-orange;
    }
  }

  @media (max-width: $breakpoint-sm-min) {
    padding: $base * 3;
  }

  @media (max-width: $breakpoint-xs-min) {
    justify-content: center;
    width: $base * 8;
    height: $base * 8;
    padding: $base * 2;
  }

  .body_small {
    color: $color-grey-black-40;

    @media (max-width: $breakpoint-sm-min) {
      display: none;
    }
  }
}

.button-sort__logo {
  width: $base * 4;
  height: $base * 4;
  margin-right: $base * 2;
  fill: $color-grey-black-40;
  transition: all $transition-02;

  @media (max-width: $breakpoint-sm-min) {
    margin-right: 0;
  }
}

.button-sort__logo_ascending {
  transform: rotate(180deg);
}
