@import '../../styles/constants.scss';

.terms-page {
  @media (max-width: $breakpoint-xxs-min) {
    margin-top: $base * 4;
  }
}

.terms-list__item {
  &:first-child {
    margin-top: $base * 8;

    @media (max-width: $breakpoint-xxs-min) {
      margin-top: $base * 6;
    }
  }
}

.nesting-lvl_1 {
  margin-top: $base * 4;
  padding-left: $base * 7;
}

.nesting-lvl_2 {
  margin-top: $base * 4;
  padding-left: $base * 15;
}

.nesting-lvl_3 {
  margin-top: $base * 4;
  padding-left: $base * 22;
}
