@import 'styles/constants.scss';

.bread-crumbs_bg {
  background: $color-grey-black-5;
}

.bread-crumbs {
  margin-top: $base * 7;
  padding: $base * 4 0 $base * 6 0;

  @media (max-width: $breakpoint-lg-min) {
    margin-top: $base * 6;
    padding: $base * 4 0 $base * 6 0;
  }

  @media (max-width: $breakpoint-xs-min) {
    margin-top: $base * 2;
    padding: $base * 3 0 $base * 5 0;
  }

  a {
    &:nth-child(odd) {
      position: relative;

      &::after {
        position: relative;
        bottom: -$base;
        transform: rotate(26deg);
        content: '';
        display: inline-block;
        width: 0.125rem;
        height: $base * 6;
        margin-right: $base * 4;
        margin-left: $base * 4;
        background-color: $color-grey-black-20;
        border-radius: $base;

        @media (max-width: $breakpoint-xs-min) {
          height: $base * 4;
        }
      }
    }
  }

  .body_small {
    color: $color-grey-black-40;

    @media (max-width: $breakpoint-lg-min) {
      line-height: $base * 6;
    }

    @media (max-width: $breakpoint-xs-min) {
      line-height: $base * 4;
    }
  }
}

.bread-crumbs__logo {
  display: inline-block;
  width: $base * 6;
  height: $base * 6;
  margin: 0 $base;
  stroke: $color-grey-black-20;
}
