@import '../../styles/constants.scss';

.profile-page {
  margin-top: 62px;
}

.profile-section {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'profile-section__avatar user-lastname'
    'profile-section__avatar user-firstname';
  align-items: center;
  column-gap: 30px;
}

.profile-section__avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: profile-section__avatar;
  width: $base * 40;
  height: $base * 40;
  border-radius: 50%;
  overflow: hidden;

  &:hover {
    .input-file__label {
      bottom: 0;
    }
  }
}

.user-lastname {
  grid-area: user-lastname;
}

.user-firstname {
  grid-area: user-firstname;
}

.user-avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.input-file {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
}

.input-file__label {
  position: absolute;
  bottom: -42px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
  background: $color-dark;
  opacity: 0.7;
  cursor: pointer;
  transition: all $transition-02;
}

.input-file__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $base * 8;
  height: $base * 8;
  stroke: $color-white;
}

.credentials {
  margin-top: 92px;

  .button {
    width: 255px;
    height: 52px;
    border-radius: 30px;
  }
}

.credentials__fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 36px;
  margin-top: $base * 8;
}

.credentials__buttons {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-top: 52px;
}
