@import './constants.scss';

.h1 {
  font-size: $base * 13;
  font-weight: $fw-medium;
  line-height: $base * 16;
  letter-spacing: 0.013rem;

  @media (max-width: $breakpoint-xs-min) {
    font-size: 2.625rem;
    line-height: $base * 10;
  }
}

.h2 {
  font-size: $base * 11;
  font-weight: $fw-semi-bold;
  line-height: 3.375rem;

  @media (max-width: $breakpoint-xs-min) {
    font-size: 1.625rem;
    line-height: $base * 9;
  }
}

.h3 {
  font-size: $base * 8;
  font-weight: $fw-bold;
  line-height: $base * 10;
  letter-spacing: 0.006rem;

  @media (max-width: $breakpoint-xs-min) {
    font-size: 1.125rem;
    line-height: $base * 7;
  }
}

.h4 {
  font-size: $base * 6;
  font-weight: $fw-bold;
  line-height: 1.875rem;
  letter-spacing: 0.006rem;
}

.h5 {
  font-size: 1.125rem;
  font-weight: $fw-bold;
  line-height: $base * 7;
  letter-spacing: 0.006rem;
}

.subtitle_large {
  font-size: $base * 4;
  font-weight: $fw-semi-bold;
  line-height: $base * 6;
  letter-spacing: 0.006rem;
}

.subtitle_small {
  font-size: 0.875rem;
  font-weight: $fw-semi-bold;
  line-height: 1.125rem;
  letter-spacing: 0.006rem;
}

.body_large {
  font-size: $base * 4;
  font-weight: $fw-regular;
  line-height: $base * 6;
  letter-spacing: 0.006rem;

  @media (max-width: $breakpoint-xs-min) {
    font-size: 0.938rem;
    line-height: $base * 5;
  }
}

.body_small {
  font-size: 0.875rem;
  font-weight: $fw-regular;
  line-height: 1.125rem;
  letter-spacing: 0.006rem;

  @media (max-width: $breakpoint-xs-min) {
    font-size: $base * 3;
    letter-spacing: 0;
  }
}

.info_large {
  font-size: $base * 3;
  font-weight: $fw-medium;
  line-height: $base * 4;
  letter-spacing: 0.013rem;
}

.info_small {
  font-size: $base * 3;
  font-weight: $fw-regular;
  line-height: $base * 4;
  letter-spacing: 0.013rem;
}

.button_large {
  font-size: $base * 4;
  font-weight: $fw-semi-bold;
  line-height: $base * 6;
  letter-spacing: 0.013rem;
  text-transform: uppercase;

  @media (max-width: $breakpoint-xs-min) {
    font-size: $base * 4;
    line-height: $base * 5;
  }
}

.button_small {
  font-size: 0.875rem;
  font-weight: $fw-semi-bold;
  line-height: 1.125rem;
  letter-spacing: 0.013rem;
  text-transform: uppercase;

  @media (max-width: $breakpoint-xs-min) {
    font-size: $base * 3;
  }
}

.button_small_mobile {
  font-size: $base * 3;
  font-weight: $fw-semi-bold;
  line-height: 1.125rem;
  letter-spacing: 0.013rem;
  text-transform: uppercase;
}

.color-grey-black-40 {
  color: $color-grey-black-40;
}

.color-grey-black-70 {
  color: $color-grey-black-70;
}

.fs-s {
  font-size: $fs-s;
}

.fs-m {
  font-size: $fs-m;
}

.fs-l {
  font-size: $fs-l;
}

.fs-xl {
  font-size: $fs-xl;
}

.fs-xxl {
  font-size: $fs-xxl;
}

.fs-xxxl {
  font-size: $fs-xxxl;
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-medium {
  font-weight: $fw-medium;
}

.fw-bold {
  font-weight: $fw-bold;
}
