@import '../../styles/constants.scss';

.input-search {
  position: relative;
  display: flex;
  align-items: center;
  width: $base * 87.5;
  background-color: $color-white;
  border-radius: $base * 5;
  box-shadow: 0px 0.125rem $base rgba(191, 196, 201, 0.2), 0px 0.188rem $base rgba(191, 196, 201, 0.18),
    0px 0.063rem 5px rgba(191, 196, 201, 0.24);
  overflow: hidden;

  &:has(.input-search__field:is(:focus)) {
    outline: 0.125rem solid $color-orange;
  }

  @media (max-width: $breakpoint-md-min) {
    width: $base * 68.5;
  }

  @media (max-width: $breakpoint-xs-min) {
    width: $base * 8;
    height: $base * 8;
  }
}

.input-search_active {
  @media (max-width: $breakpoint-xs-min) {
    position: relative;
    z-index: 2;
    width: calc(100vw - $base * 5);

    .button-search {
      position: absolute;
      z-index: -1;
      display: none;
    }

    .button-search__logo {
      fill: $color-orange;
    }

    + .button-sort {
      position: absolute;
      z-index: -1;
    }

    .input-search__field {
      opacity: 1;
    }

    .button-cancel {
      opacity: 1;
    }
  }
}

.input-search__field {
  width: 100%;
  padding: 10px 0 10px $base * 2;
  border: none;
  border-radius: $base * 5;
  color: $color-dark;
  caret-color: $color-orange;
  outline: none;

  &::placeholder {
    color: $color-grey-black-40;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }

  @media (max-width: $breakpoint-xs-min) {
    opacity: 0;
    padding: $base * 2 0 $base * 2 $base * 2;
  }
}

.button-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: $base * 4;

  @media (max-width: $breakpoint-xs-min) {
    margin-left: 0px;
    padding: $base * 2;
  }
}

.button-search__logo {
  width: $base * 4;
  height: $base * 4;
  fill: $color-grey-black-40;
}

.button-cancel {
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: $base * 4;
  opacity: 0;

  @media (max-width: $breakpoint-xs-min) {
    display: flex;
  }
}

.button-cancel__logo {
  width: $base * 4;
  height: $base * 4;
  fill: $color-orange;
}
