@import '../../styles/constants.scss';

.card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  padding: $base * 2 $base * 2 $base * 4 $base * 2;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);

  @media (max-width: $breakpoint-xxs-min) {
    padding: $base * 2 $base * 4 $base * 4 $base * 4;
  }

  .body_small {
    color: $color-grey-black-40;

    @media (max-width: $breakpoint-sm-min) {
      font-size: $base * 3;
    }
  }

  .subtitle_small {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 54px;
    margin-top: 21px;

    @media (max-width: $breakpoint-md-min) {
      font-size: $base * 3;
      font-weight: $fw-bold;
    }

    @media (max-width: $breakpoint-xxs-min) {
      font-size: 14px;
      font-weight: $fw-semi-bold;
    }
  }

  .button-primary {
    margin-top: 22px;
    padding-right: 0;
    padding-left: 0;

    @media (max-width: $breakpoint-xxs-min) {
      margin-top: 18px;
    }
  }

  .button-secondary {
    margin-top: 22px;
    padding-right: 0;
    padding-left: 0;
  }
}

.card-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  column-gap: $base * 4;
  padding: 24px 24px 24px $base * 4;
  border-radius: $base * 3;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  object-fit: cover;

  @media (max-width: $breakpoint-md-min) {
    padding: $base * 4 24px $base * 4 $base * 4;
  }

  @media (max-width: $breakpoint-xxs-min) {
    column-gap: $base * 2;
    padding: $base * 4 24px $base * 4 $base * 2;
  }

  .body_small {
    color: $color-grey-black-40;
  }
}

.card__info {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  width: 100%;

  .rating-wrapper {
    margin-top: $base * 4;
  }
}

.card__info_list {
  flex-direction: column;
  height: 100%;

  .button {
    width: 174px;

    @media (max-width: $breakpoint-xs-min) {
      position: relative;
      width: 100%;
      order: 3;
    }
  }
}

.rating-wrapper {
  column-gap: $base * 4;

  @media (max-width: $breakpoint-md-min) {
    margin-top: $base * 4;
  }

  .rating {
    margin-top: 0;
  }
}

.rating-list__wrapper {
  .rating {
    margin-top: 0;
    margin-bottom: $base * 3;
  }

  .rating__logo {
    @media (max-width: $breakpoint-sm-min) {
      width: 13px;
      height: 13px;
    }
  }
}

.button_list {
  position: absolute;
  right: 0;
  bottom: 0;
}

.card-list__title {
  font-size: 22px;
  font-weight: $fw-bold;
  line-height: $base * 8;

  @media (max-width: $breakpoint-md-min) {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
  }

  @media (max-width: $breakpoint-xs-min) {
    font-size: 14px;
    font-weight: $fw-semi-bold;
    line-height: 18px;
  }
}

.card__img {
  width: 100%;
  height: auto;
  aspect-ratio: 174/242;
  border-radius: 10px;
  object-fit: cover;
}

.card-list__img {
  width: $base * 30;
  height: 170px;
  border-radius: 3px;
  border: 1px solid $color-grey-black-40;
  object-fit: cover;

  @media (max-width: $breakpoint-xs-min) {
    width: 70px;
    height: $base * 25;
  }
}

.card-list__author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: $base * 8;
}

.placeholder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100%;
  aspect-ratio: 174/242;
  background: $color-grey-black-5;
  border-radius: 10px;
  border: 1px solid $color-grey-black-40;

  @media (max-width: $breakpoint-xxs-min) {
    margin-right: $base * 10;
    margin-left: $base * 10;
  }
}

.placeholder-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $base * 30;
  height: 170px;
  background: $color-grey-black-5;
  border-radius: 3px;
  border: 1px solid $color-grey-black-40;
  overflow: hidden;

  @media (max-width: $breakpoint-xs-min) {
    min-width: 70px;
    height: $base * 25;
  }
}

.placeholder__logo {
  width: $base * 12;
  height: $base * 12;
}

.placeholder-list__logo {
  width: $base * 8;
  height: $base * 8;
}
