@import '../../styles/constants.scss';

.form-comment {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: $base * 150;
  height: $base * 127;
  padding: $base * 12 $base * 8 $base * 12 $base * 8;
  border-radius: $base * 4;
  background-color: $color-white;

  .rating__item {
    cursor: pointer;

    &:hover {
      .rating__logo {
        fill: $color-warning;
      }
    }
  }

  .rating__logo {
    width: 42px;
    height: 42px;
  }

  .button {
    width: calc(100% - 63px);
    height: $base * 13;
    border-radius: $base * 20;
  }

  .text-field {
    height: $base * 33;
  }
}

.textarea {
  width: 100%;
  height: $base * 33;
  border: none;
  border-radius: $base;
  background-color: $color-grey-black-5;
  resize: none;
}

.button-close {
  position: absolute;
  top: $base * 8;
  right: $base * 8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $base * 12;
  height: $base * 12;
  border-radius: 50%;
  background-color: $color-grey-black-5;
}

.button-close__logo {
  width: $base * 6;
  height: $base * 6;
  fill: $color-orange;
}
