@import '../../styles/constants.scss';

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: $base * 4;
  margin-top: 62px;
  padding: $base * 4 0 $base * 4 0;
  border-top: 1px solid $color-grey-black-20;

  @media (max-width: $breakpoint-sm-min) {
    justify-content: center;
    padding: $base * 4 0 $base * 2 0;
    text-align: center;
  }
}

.socials {
  display: flex;
  align-items: center;
  column-gap: $base * 6;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__logo {
  width: $base * 6;
  height: $base * 6;
  fill: $color-dark;
}
