@import '../../styles/constants.scss';

.book-page {
  display: grid;
  grid-template-areas:
    'book-page__img-wrapper book-page__info'
    'book-page__img-wrapper book-page__description'
    'book-page__img-wrapper book-page__description';
  grid-template-columns: minmax(136px, 0.7fr) minmax(136px, 1fr);
  column-gap: 30px;
  margin-top: 42px;

  @media (max-width: $breakpoint-md-min) {
    grid-template-areas:
      'book-page__img-wrapper book-page__info'
      'book-page__img-wrapper book-page__info'
      'book-page__description book-page__description';
    grid-template-columns: minmax(136px, 136px) minmax(136px, 1fr);
    margin-top: 47px;
  }

  @media (max-width: $breakpoint-xs-min) {
    column-gap: 15px;
    margin-top: 21px;
  }

  @media (max-width: 370px) {
    grid-template-areas:
      'book-page__img-wrapper'
      'book-page__info'
      'book-page__description';
    grid-template-columns: minmax(136px, 1fr);
  }

  .book-page__header {
    @media (max-width: $breakpoint-md-min) {
      font-size: 16px;
      font-weight: $fw-semi-bold;
      line-height: 24px;
      letter-spacing: 0.1px;
    }
  }

  .placeholder {
    width: 100%;
    height: auto;
    aspect-ratio: 445 / 594;

    @media (max-width: $breakpoint-xs-min) {
      width: auto;
    }

    @media (max-width: 370px) {
      margin-right: 50px;
      margin-left: 50px;
    }
  }

  .card__img {
    position: static;
    transform: translate(0);
    width: 100%;
    aspect-ratio: 445 / 594;
    border-radius: 10px;
    border: 1px solid $color-grey-black-40;

    @media (max-width: $breakpoint-md-min) {
      aspect-ratio: 136 / 198;
      border-radius: 3px;
    }

    @media (max-width: $breakpoint-xs-min) {
      border-radius: 10px;
    }

    @media (max-width: 370px) {
      aspect-ratio: 188 / 260;
    }
  }
}

.book-page__img-wrapper {
  grid-area: book-page__img-wrapper;
}

.book-page__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  grid-area: book-page__info;
  max-width: 635px;

  @media (max-width: 370px) {
    margin-top: 20px;
  }

  .h3 {
    @media (max-width: $breakpoint-lg-min) {
      font-size: 24px;
      line-height: 30px;
    }

    @media (max-width: $breakpoint-xs-min) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .button {
    width: 350px;
    height: 52px;
    margin-top: 32px;
    border-radius: 30px;

    @media (max-width: $breakpoint-lg-min) {
      width: 306px;
    }

    @media (max-width: $breakpoint-sm-min) {
      width: 100%;
    }

    @media (max-width: $breakpoint-xs-min) {
      height: 40px;
      margin-top: 41px;
      font-size: 12px;
    }
  }
}

.book-page__detail {
  .book-page__header {
    @media (max-width: $breakpoint-md-min) {
      font-size: 16px;
      font-weight: $fw-semi-bold;
      line-height: 24px;
      letter-spacing: 0.1px;
    }
  }

  .button-primary {
    width: 350px;
    height: 52px;
    margin-top: 42px;
    border-radius: 30px;

    @media (max-width: $breakpoint-lg-min) {
      width: 100%;
    }

    @media (max-width: $breakpoint-xs-min) {
      height: 40px;
      font-size: 12px;
    }
  }

  .rating {
    column-gap: 17px;
  }

  .h5.book-page__header {
    margin-top: 62px;

    &:first-child {
      margin-top: 28px;

      @media (max-width: $breakpoint-md-min) {
        margin-top: 52px;
      }

      @media (max-width: $breakpoint-xs-min) {
        margin-top: 44px;
        padding-bottom: 9px;
      }
    }

    &:nth-child(5) {
      @media (max-width: $breakpoint-xs-min) {
        margin-top: 44px;
      }
    }

    @media (max-width: $breakpoint-md-min) {
      margin-top: 52px;
    }

    @media (max-width: $breakpoint-xs-min) {
      margin-top: 28px;
      padding-bottom: 9px;
    }
  }

  .accordion {
    justify-content: flex-start;
    column-gap: 24px;
    margin-top: 62px;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-grey-black-10;

    .h5.book-page__header {
      width: auto;
      margin-top: 0;
      padding-bottom: 0;
      border: none;

      .body_small {
        color: $color-grey-black-40;
        line-height: 24px;
      }
    }
  }

  .accordion__button {
    position: relative;
    fill: $color-dark;
    opacity: 1;

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 6px;
      left: 0;
      width: 10px;
      height: 2px;
      background-color: $color-dark;
      border-radius: 5px;
    }

    &::before {
      left: -1px;
      transform: rotate(45deg);
    }

    &::after {
      left: 5px;
      transform: rotate(-45deg);
    }
  }
}

.book-page__author {
  margin-top: 24px;

  @media (max-width: $breakpoint-lg-min) {
    margin-top: 33px;
  }
}

.h5.book-page__author {
  @media (max-width: $breakpoint-lg-min) {
    font-size: 14px;
    font-weight: $fw-semi-bold;
    line-height: 18px;
  }

  @media (max-width: $breakpoint-xs-min) {
    margin-top: 9px;
    font-size: 12px;
    font-weight: $fw-regular;
  }
}

.book-page__description {
  grid-area: book-page__description;

  .book-page__header {
    @media (max-width: $breakpoint-md-min) {
      margin-top: 47px;
    }

    @media (max-width: $breakpoint-xs-min) {
      padding-bottom: 6px;
    }
  }

  .body_large {
    margin-top: 16px;

    @media (max-width: $breakpoint-xs-min) {
      margin-top: 8px;
      font-size: 12px;
      font-weight: $fw-regular;
      line-height: 18px;
    }
  }
}

.book-page__header {
  width: 100%;
  max-width: 350px;
  margin-top: 18px;
  padding-bottom: 15px;
  border-bottom: 1px solid $color-grey-black-10;
}

.book-page__rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  width: fit-content;
  margin-top: 16px;

  @media (max-width: $breakpoint-xs-min) {
    width: 100%;
    margin-top: 10px;
  }

  .rating,
  .rating_null {
    margin-top: 0;
  }

  .rating__logo {
    @media (max-width: $breakpoint-xxs-min) {
      width: 30px;
      height: 30px;
    }
  }
}

.tables-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 10px;
  column-gap: 80px;
  margin-top: 16px;

  @media (max-width: $breakpoint-md-min) {
    column-gap: 20px;
  }

  @media (max-width: $breakpoint-sm-min) {
    flex-wrap: wrap;
  }

  @media (max-width: $breakpoint-xs-min) {
    margin-top: 6px;
  }
}

.review-list {
  display: none;
  max-width: 730px;
  margin-top: 16px;

  .rating {
    @media (max-width: $breakpoint-xs-min) {
      column-gap: 12px;
      margin-top: 14px;
    }
  }
}

.review-list_active {
  display: block;
}
