@import 'styles/normalize.scss';
@import 'styles/reset.scss';
@import 'styles/constants.scss';
@import 'styles/headers.scss';

body {
  @include montserrat;
  background: $color-white;
  color: $color-dark;
}

.body_overflow {
  overflow: hidden;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.wrapper {
  max-width: $base * 283;
  margin: 0 auto;
  padding-right: $base * 2;
  padding-left: $base * 2;

  @media (max-width: $breakpoint-md-min) {
    max-width: $base * 165;
  }

  @media (max-width: $breakpoint-xxs-min) {
    max-width: $base * 77;
  }
}

.main {
  display: grid;
  grid-template-columns: minmax(0.063rem, 279px) minmax(0.063rem, 825px);
  column-gap: $base;
  width: 100%;
  margin-top: $base * 12;

  @media (max-width: $breakpoint-lg-min) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $breakpoint-md-min) {
    margin-top: $base * 8;
  }

  @media (max-width: $breakpoint-xxs-min) {
    margin-top: $base * 3;
  }
}

.filter-shadow {
  box-shadow: 0 0.125rem $base rgba(191, 196, 201, 0.2), 0 0.188rem $base rgba(191, 196, 201, 0.18),
    0 0.063rem $base rgba(191, 196, 201, 0.24);
}

.active {
  color: $color-orange;
}

.display_inline {
  display: inline;
}

.display_inline-block {
  display: inline-block;
}
