@import '../../styles/constants.scss';

.text-field {
  position: relative;
  width: 100%;
  background-color: $color-white;
  transition: background-color $transition-02 ease;
}

.text-field__input {
  width: 100%;
  padding: 1.8rem 1rem 0.6rem;
  font-size: 1rem;
  background-color: $color-grey-black-5;
  border: none;
  border-top-right-radius: $base;
  border-top-left-radius: $base;
  border-bottom: 0.063rem solid $color-grey-black-20;
  transition: border-color $transition-02 ease;
  caret-color: var(--color__accent);

  &::placeholder {
    color: $color-transparent;
  }

  &:disabled {
    border-bottom: 0.063rem solid $color-grey-black-5;

    ~ .text-field__message {
      color: $color-grey-black-20;
    }

    ~ .text-field__label::before {
      color: $color-grey-black-20;
    }
  }
}

.text-field__label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;
}

.text-field__label::before {
  color: $color-dark;
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  backface-visibility: hidden;
  transform-origin: left top;
  transition: transform $transition-02 ease;
  left: 1rem;
  position: relative;
}

.text-field__label::after {
  content: '';
  position: absolute;
  top: 100%;
  bottom: 1rem;
  left: 0;
  width: 100%;
  height: 0.063rem;
  margin-top: -1px;
  background-color: var(--color__accent);
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1), opacity 180ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color $transition-02 ease;
  transform: scale3d(0, 1, 1);
  opacity: 0;
}

.text-field__input:focus + .text-field__label::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.text-field__input:placeholder-shown + .text-field__label::before {
  font-weight: $fw-regular;
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.text-field__label::before,
.text-field__input:focus + .text-field__label::before {
  transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.text-field__input:focus + .text-field__label::before {
  color: $color-grey-black-20;
}

.text-field__label_hidden {
  border: 0;
  clip: rect(1px 0.063rem 0.063rem 0.063rem);
  clip: rect(1px, 0.063rem, 0.063rem, 0.063rem);
  height: 0.063rem;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.063rem;
}

.text-field__message {
  padding-left: $base * 3;
  color: $color-grey-black-40;
}

.text-field__input_error {
  border-bottom: 0.063rem solid $color-negative;
}

.text-field__label_error {
  color: $color-negative;
}

.text-field__icon-wrapper {
  position: absolute;
  top: $base * 5;
  right: 16px;
  display: flex;
  align-items: center;
  column-gap: $base;
}

.text-field__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $base * 6;
  height: $base * 6;
}

.text-field__icon_check {
  stroke: $color-positive;
}

.text-field__icon_eye {
  stroke: $color-dark;
}
