@import '../../../styles/constants.scss';

.button-catalog-view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $base * 10;
  height: $base * 10;
  border-radius: 50%;
  cursor: pointer;
  transition: all $transition-02;

  &:hover {
    box-shadow: $color-button-hover;
  }

  &:active {
    box-shadow: $color-button-active;
  }

  @media (max-width: $breakpoint-xs-min) {
    width: $base * 8;
    height: $base * 8;
  }
}

.button-catalog-view__logo {
  width: $base * 5;
  height: $base * 5;
  fill: $color-grey-black-40;
}
