@import '../../../styles/constants.scss';

.button-catalog-view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $base * 10;
  height: $base * 10;
  border-radius: 50%;
  box-shadow: 0 0.125rem $base rgba(191, 196, 201, 0.2), 0 0.188rem $base rgba(191, 196, 201, 0.18),
    0 0.063rem $base rgba(191, 196, 201, 0.24);
  cursor: pointer;
  transition: all $transition-02;

  &:hover {
    box-shadow: 0 0.125rem $base rgba(54, 54, 54, 0.1);
  }

  &:active {
    box-shadow: 0 0.188rem $base rgba(222, 125, 11, 0.2), 0 0.063rem $base * 3 rgba(249, 89, 8, 0.2);
  }

  @media (max-width: $breakpoint-xs-min) {
    width: $base * 8;
    height: $base * 8;
  }
}

.button-catalog-view__logo {
  width: $base * 5;
  height: $base * 5;
  fill: $color-grey-black-40;
}
