@import '../../styles/constants.scss';

.registration-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: $base * 11;
  width: 100vw;
  height: 100vh;
  background: -o-linear-gradient(218.42deg, #f83600 -53.35%, #f9d423 297.76%);
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);

  > .h3 {
    color: $color-white;
  }
}

.registration {
  width: $base * 132;
  padding: $base * 12 $base * 14 $base * 12 $base * 14;
  background-color: $color-white;
  border-radius: $base * 4;
}

.registration__fieldset {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: $base * 8;
  height: 100%;
}

.registration__section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  row-gap: $base * 4;
  width: 100%;

  &:nth-child(1) {
    row-gap: $base * 2;
  }

  button.info_large {
    margin-left: $base * 3;
    color: $color-grey-black-20;
  }

  .button {
    width: 100%;
    height: $base * 13;
    border-radius: $base * 8;
  }

  .body_large {
    display: flex;
    align-items: center;
    color: $color-grey-black-70;

    .button_small_mobile {
      margin-left: $base * 4;
      color: $color-dark;
      text-transform: uppercase;
    }
  }
}

.button-login {
  display: flex;
  align-items: center;
  column-gap: $base * 3;
}

.button-login__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $base * 6;
  height: $base * 6;
  stroke: $color-dark;
}
